<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GDCM Result</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <style>
        img.res {
            height: 80px;
        }

        img.res:hover {
            transform: scale(5, 5) translateX(calc(-5.5vh));
        }

        .longtext {
            max-height: 200px;
            white-space: nowrap;
            overflow: scroll;
        }

        input {
            width: 3.5%;
            text-align: center;
            border-style: solid;
            font-weight: bold;
        }

        label {
            border: 0;
            font-weight: bold;
        }

        div.slider {
            width: 90%;
        }
    </style>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>


<body>
<div class="container-fluid">
    <main class="col-md-12 ml-sm-auto col-lg-12" role="main" style="margin: 20px">
        <p>
            <label for="min_df">document-frequency range (in percentile): </label>
            <input type="text" id="min_df" style="color:#f6931f;">
            <label for="max_df" style="color:#f6931f;"> - </label>
            <input type="text" id="max_df" style="color:#f6931f;">
        <div class="slider" id="df-slider-range"></div>
        </p>
        <p>
            <label for="min_tf">term-frequency range (in percentile): </label>
            <input type="text" id="min_tf" style="color:#206EF7;">
            <label for="max_tf" style="color:#206EF7;"> - </label>
            <input type="text" id="max_tf" style="color:#206EF7;">
        <div class="slider" id="tf-slider-range"></div>
        </p>
        <p>
            <label for="frex">FREX exclusivity: </label>
            <input type="text" id="frex" style="color:#76CE32;">
        <div class="slider" id="frex-slider-range"></div>
        </p>
        <div class="table-responsive" style="overflow: visible;">
            <h1>
                Result
            </h1>
            <div>
                <table class="table display" id="main_table">
                    <thead>
                    <tr>
                        <th>run ID: Epoch</th>
                        <th>λ</th>
                        <th>η</th>
                        <th>ρ</th>
                        <th>concepts</th>
                        <th>coherence per concept</th>
                        <th>average coherence</th>
                        <th>neg <span style="font-family: cursive; font-style:italic">L</span></th>
                        <th>Dir <span style="font-family: cursive; font-style:italic">L</span></th>
                        <th>div <span style="font-family: cursive; font-style:italic">L</span></th>
                        <th>clf <span style="font-family: cursive; font-style:italic">L</span></th>
                        <th>total <span style="font-family: cursive; font-style:italic">L</span></th>
                        <th>Train AUC</th>
                        <th>Test AUC</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for result in results %}
                    <tr>
                        <td style="word-break:break-all;">{{ result.run_id }}: Epoch {{result.epoch}}</td>
                        <td>{{ result.lam | floatformat:"0" }}</td>
                        <td>{{ result.eta | floatformat:"0" }}</td>
                        <td>{{ result.rho | floatformat:"0" }}</td>
                        <td>
                            <div class='longtext'>
                                <div class='topic'>{{ result.topics | linebreaks }}</div>
                            </div>
                        </td>
                        <td>{{ result.coherence_per_topic | linebreaks }}</td>
                        <td>{{ result.coherence | floatformat:"2" }}</td>
                        <td>{{ result.avg_sgns_loss | floatformat:"2" }}</td>
                        <td>{{ result.avg_dirichlet_loss | floatformat:"2" }}</td>
                        <td>{{ result.avg_div_loss | floatformat:"2" }}</td>
                        <td>{{ result.avg_pred_loss | floatformat:"2" }}</td>
                        <td>{{ result.total_loss | floatformat:"2" }}</td>
                        <td>{{ result.train_auc | floatformat:"2" }}</td>
                        <td>{{ result.test_auc | floatformat:"2" }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js "
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo "
        crossorigin="anonymous "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js "
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ "
        crossorigin="anonymous "></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js "
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm "
        crossorigin="anonymous "></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    function sendUpdateRequest(keyValues) {
        $.ajax({
            type: "GET",
            url: "update",
            data: keyValues,
            success: function (data) {
                console.log("success");
                console.log(data);
            },
            failure: function (data) {
                console.log("failure");
                console.log(data);
            },
        })
            .done(function (response) {
                $(response).replaceAll('#main_table');
            });
    }

    $(function () {
        $("#frex-slider-range").slider({
            min: 0,
            max: 100,
            value: 50,
            slide: function (event, ui) {
                $("#frex").val((ui.value / 100).toFixed(2));
                $(ui.value).val($('#frex').val() * 100);
            },
            stop: function (event, ui) {
                sendUpdateRequest({"frex": ui.value / 100})
            }
        });
        $("#frex").val(($("#frex-slider-range").slider("values", 0) / 100).toFixed(2));
        $("#frex").on('keyup', function (e) {
            if (e.keyCode === 13) {
                $("#frex-slider-range").slider("value", $(this).val() * 100);
                sendUpdateRequest({"frex": $(this).val()})
            }
        });
        $("#tf-slider-range").slider({
            range: true,
            min: 0,
            max: 100,
            values: [0, 100],
            slide: function (event, ui) {
                $("#min_tf").val((ui.values[0] / 100).toFixed(2));
                $("#max_tf").val((ui.values[1] / 100).toFixed(2));
                $(ui.values[0]).val($('#min_tf').val() * 100);
                $(ui.values[1]).val($('#max_tf').val() * 100);
            },
            stop: function (event, ui) {
                sendUpdateRequest({
                    "min_tf": ui.values[0] / 100,
                    "max_tf": ui.values[1] / 100,
                });
            }
        });
        $("#min_tf").val(($("#tf-slider-range").slider("values", 0) / 100).toFixed(2));
        $("#max_tf").val(($("#tf-slider-range").slider("values", 1) / 100).toFixed(2));
        $("#min_tf").on('keyup', function (e) {
            if (e.keyCode === 13) {
                $("#tf-slider-range").slider("values", 0, $(this).val() * 100);
                sendUpdateRequest({"min_tf": $(this).val()})
            }
        });
        $("#max_tf").on('keyup', function (e) {
            if (e.keyCode === 13) {
                $("#tf-slider-range").slider("values", 1, $(this).val() * 100);
                sendUpdateRequest({"max_tf": $(this).val()})
            }
        });
        $("#df-slider-range").slider({
            range: true,
            min: 0,
            max: 100,
            values: [0, 100],
            slide: function (event, ui) {
                $("#min_df").val((ui.values[0] / 100).toFixed(2));
                $("#max_df").val((ui.values[1] / 100).toFixed(2));
                $(ui.values[0]).val($('#min_df').val() * 100);
                $(ui.values[1]).val($('#max_df').val() * 100);
            },
            stop: function (event, ui) {
                sendUpdateRequest({
                    "min_df": ui.values[0] / 100,
                    "max_df": ui.values[1] / 100,
                });
            }
        });
        $("#min_df").val(($("#df-slider-range").slider("values", 0) / 100).toFixed(2));
        $("#max_df").val(($("#df-slider-range").slider("values", 1) / 100).toFixed(2));
        $("#min_df").on('keyup', function (e) {
            if (e.keyCode === 13) {
                $("#df-slider-range").slider("values", 0, $(this).val() * 100);
                sendUpdateRequest({"min_df": $(this).val()})
            }
        });
        $("#max_df").on('keyup', function (e) {
            if (e.keyCode === 13) {
                $("#df-slider-range").slider("values", 1, $(this).val() * 100);
                sendUpdateRequest({"max_df": $(this).val()})
            }
        });
    });

</script>

</body>

</html>